.main-content-body {
    display: flex;
    min-height: 400px;
    margin-bottom: 2em;
}

.main-content-body  .body-content {
    /* box-shadow: 0 0 20px rgba(0,0,0,0.20); */
    flex: 1;
}

.main-content-body .account-body {
    display: flex;
    padding: 2em;
}

.main-content-body .account-body .header {
    margin-bottom: 2em;
}

.main-content-body .account-body .header .title {
    font-size: 2.25rem;
    font-weight: 600;
}

.main-content-body .account-body .body {
    color: #666;
    margin-right: 1em;
}

.main-content-body .account-body .body label {
    display: block;
    font-size: 1.25rem;
}

.main-content-body .account-body .body .form-group {
    width: 90%;
}

.main-content-body .account-body .body .form-group input {
    line-height: normal;
    color: #444;
    font-size: 2rem;
}



.main-content-body .nav {
    background-color: #eee;
    width: 0;
    width: 220px;
    overflow: hidden;
}

.main-content-body .nav ul {
    flex-direction: column;
    list-style: none;
    font-size: 2rem;
    color: #666;
    padding: 0;
    margin-top: 1.25em;
}

.main-content-body .nav ul li {
    display: flex;
    align-items: center;
}

.main-content-body .nav ul li:before {
    content: "";
    display: inline-block;
    width: 0; 
    height: 0; 
    border: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    /* border-left: 0px solid #ff5c36; */
    /* border-left: 0px solid #3673F4; */
    border-left: 0px solid #3e4f6d;
    transition: border-width 0.2s;
}

.main-content-body .nav ul li.active:before {
    border-left-width: 10px;
}

.main-content-body .nav ul li:hover:before {
    color: #222;
    font-weight: 600;
}

.main-content-body .nav ul li a {
    display: inline-block;
    padding: .5em 0;
    padding-left: 1.25em;
    width: 100%;
}

.main-content-body .nav ul li.active a,
.main-content-body .nav ul li.active a:focus,
.main-content-body .nav ul li.active a:hover {
    color: #222;
    font-weight: 600;
}

.main-content-body .nav ul li a:hover {
    color: #444;
}

.main-content-body .nav ul li a,
.main-content-body .nav ul li a:focus {
    color: #666;
    text-decoration: none;
}