#nav_top {
    width: 100%;
    height: 56px;
    position: absolute;
    top: 0;
    padding: 8px;
    z-index: 1000;
}

#nav_top #account {
    position: relative;
    right: 0;
    float: right;
}

#nav_top .account-option {
    display: block;
    cursor: pointer;
    padding: 8px;
    height: 100%;
}

#account .account-option {
    margin-right: 8px;
}

#nav_top .top_nav-dropdown-menu {
    display: none;
    max-height: 410px;
    min-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: #fff;
    outline: none;
    overflow-x: hidden; 
    overflow-y: auto;
    position: absolute;
    right: 0;
    /* top: 44px; */
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

#nav_top .top_nav-dropdown-menu.show {
    display: block;
}

#nav_top .top_nav-dropdown-menu ul {
    display: block;
    position: relative;
    padding: 20px;
    text-align: left;
    white-space: normal;
    width: 265px;
    list-style-type: none;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: hidden;
}

#nav_top .top_nav-dropdown-menu ul li {
    border: solid 1px #fff;
    margin: .25em 0;
    justify-content: flex-start;
    border-radius: 4px;
    overflow: hidden;
}
#nav_top .top_nav-dropdown-menu ul li:hover {
    border: solid 1px #aaa;
}

#nav_top .top_nav-dropdown-menu ul li:first-of-type {
    margin-top: 0;
}
#nav_top .top_nav-dropdown-menu ul li:last-of-type {
    margin-bottom: 0;
}

#nav_top .top_nav-dropdown-menu ul li a {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin: 0 auto;
    color: #333;
    font-weight: 600;
}

#nav_top .top_nav-dropdown-menu ul li a img {
    width: 4rem;
    margin-right: 1rem;
}

#nav_top .top_nav-dropdown-menu ul li a span {
    font-size: 20px;
}

.account-option,
.account-option:hover,
.account-option:active,
.account-option:focus {
    color: #fff;
}