{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    {% block meta_tags %}
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% endblock meta_tags %}

    <title>
    {% block title %}
    Sign In - Medtrics 
    {% endblock title %}
    </title>

    {% block styles %}
    <!-- FONTS -->
        <!-- Lato -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700">
        <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <!-- CSS BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- CSS CUSTOM -->
    <link rel="stylesheet" href="{% static 'css/base_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/class.css' %}">
    {% endblock styles %} 
    
    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body>
    {% block content %}
    {% endblock content %}

    {% block javascript %}
    {% endblock javascript %} 
</body>

</html>