{% extends "__base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block styles %}
{{ block.super }}
<!-- CSS LOGIN -->
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock styles %}

{% block content %}
<div id="login" class="container-fluid">
    <div class="content">
        <div class="header">
            <div class="image">
                <img src="{% static 'images/MedtricsIcon.png' %}" alt="medtrics">
            </div>
            <div class="title">
                <p>Healthcare in one place.</p>
            </div>
        </div>
        <div class="body">
            {% block body_content %}
            <div class="title">
                <span id="title">Login & Sign Up</span>
            </div>
            <div class="login_form">
                <form method="post">
                    {% csrf_token %}
                    <div class="email">
                        <input type="email" name="username" class="form-control" id="inputEmail" placeholder="Your Institution Email" required>
                    </div>
                    <div class="messages">
                        {% include "mama_cas/_messages.html" %}
                    </div>
                    <div class="pass">
                        <div class="check">
                            <input onclick="useEmail()" id="useEmailCheckbox" type="checkbox" checked>
                            <div class="state">
                                <label>&nbsp;Use email authentication</label>
                            </div>
                        </div>
                        <div id="passwordArea">
                            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="continue">
                    <button type="submit" class="btn btn-default">CONTINUE</button>
                </div>
            </form>
            {% endblock body_content %}
        </div>
    </div>
    <div class="links">
        <a href="https://www.medtricslab.com">medtricslab.com</a>
        <div class="extra pull-right">
            <a href="#">Contact</a>
            <a href="https://www.medtricslab.com/about.html">About</a>
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
<!-- JS LOGIN -->
<script>
    function useEmail() {
        var passwordArea = document.getElementById('passwordArea');
        var useEmailCheckbox = document.getElementById('useEmailCheckbox');
        var title = document.getElementById('title');

        if (useEmailCheckbox.checked == true) {
            passwordArea.style.display = 'none';
            useEmailCheckbox.style.height = '100%';
            title.innerHTML = 'Login & Sign Up';
        } else {
            passwordArea.style.display = 'block';
            useEmailCheckbox.style.height = '45%';
            title.innerHTML = 'Login Only';
            document.getElementById('inputPassword').focus();
        }
    }
</script>
{% endblock javascript %}







            <h1 class="text-center login-title">
                {% block content_title %}{% trans "Central Authentication Service" %}{% endblock content_title %}
            </h1>

            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    {% include "mama_cas/_messages.html" %}
                    <form class="form-login" method="post">
                        {% csrf_token %}
                        <label class="sr-only" for="id_username">{{ form.username.label }}</label>
                        <input type="text" class="form-control" id="id_username" name="username" placeholder="{{ form.username.label }}" required
                            autofocus>
                        <label class="sr-only" for="id_password">{{ form.password.label }}</label>
                        <input type="password" class="form-control" id="id_password" name="password" placeholder="{{ form.password.label }}" required>
                        {% if form.warn %}
                        <label class="checkbox">
                            <input type="checkbox" id="id_warn" name="warn"> {{ form.warn.label }}
                        </label>
                        {% endif %}
                        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Login" %}</button>
                    </form>
                </div>
            </div>

            <div class="row">
                <a href="/signup">Sign Up</a>
            </div>