<!DOCTYPE html>
<html>
<head>
  <!--
  * Copyright (C) 2017 David Capatch - All Rights Reserved
  * This file is part of the Moonshot project.
  * You may not use, distribute or modify this code without
  * consent of the copyright holder.
  *
  * For inquiries please write to: david.capatch@gmail.com
  -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Registration Page</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  
</head>
<body>
<div class="register-box">
  <div class="register-logo">
    <a href="../"><b>Register User</b></a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new account</p>

    <form name="register" class="form-register" action="" method="post">{% csrf_token %}
      <div class="form-group has-feedback">
        <input name="firstName" id="firstName" type="text" class="form-control" placeholder="First name">
        <span class="fa fa-user form-control-feedback"></span>
      </div>
      
      <div class="form-group has-feedback">
        <input name="lastName" id="lastName" type="text" class="form-control" placeholder="Last name">
        <span class="fa fa-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input name="email" id="email" type="email" class="form-control" placeholder="Email" required>
        <span class="fa fa-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input name="password" id="password" type="password" class="form-control" placeholder="Password">
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> I agree to the <a href="#">terms</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign Up</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->


</body>
</html>